*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  justify-self: center;
  align-items: center;
}

.content {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
  margin: auto;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset {
  border: none;
  padding: 0;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: fit-content;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__textfield {
  min-width: 225px;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  padding: 2px 0;
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:focus,
.search-form__label:has(.search-form__textfield:active) {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:active {
  border-color: transparent;
  outline: 1px solid #fff;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 5px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  bottom: 1px;
  width: 15px;
  height: 15px;
  border: none;
  background-color: #fff;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.title {
  display: block;
  min-width: 417px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 300px;
  margin-top: 20px;
  /* Убираем горизонтальный скролл блока карточек, возникающий при уменьшении разрешения экрана */
  overflow-x: hidden;
  overflow-y: auto;
}

/* Убираем нижний отступ у последней карточки */
.content__list-item:not(:last-of-type) {
  padding-bottom: 30px;
}

.content__card-link {
  /* Делаем ссылку блочным элементом, чтобы фон применился ко всей карточке */
  display: block;
  color: #fff;
  text-decoration: none;
}

/* Задаем новый фон карточке в момент нажатия и при нахождении в состоянии "выбранный" */
.content__card-link:active,
.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card-thumbnail {
  max-width: 194px;
  max-height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  width: 100%;
  padding: 2px;
}

.content__video-card-title {
  /* при этом значении обводка карточки в состоянии focus становится ровной */
  margin-top: 4px;
  margin-bottom: 6px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16.2px; /* 90% */
}

/* Задаем все стили для кнопок в одном месте */
.button {
  border: 1px solid #fff;
  padding: 6px 0;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  background-color: transparent;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 396px;
  /* Делаем обводку в состоянии focus видимой */
  margin: 0 2px 2px 2px;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
